@define-color surface #1a1b26;

* {
  font-family: "Roboto Mono";
  font-size: 10pt;
}

.notification-row .notification {
  background: alpha(@surface, 0.85);
  border-radius: 12px;
  padding: 12px;
  margin: 8px;
}

progressbar trough {
  background: #1e1e1e;
  min-height: 6px;
  border-radius: 4px;
}
progressbar progress {
  background: #ffffff;
  min-height: 6px;
  border-radius: 4px;
}

.notification .image {
  -gtk-icon-source: -gtk-icontheme("audio-player");
}
